exportPattern("^[[:alpha:]]+")
  importFrom("graphics", "axis", "legend", "lines", "locator", "par",
             "plot", "points", "text")
  importFrom("stats", "pnorm", "qnorm", "rbinom", "rnorm", "rpois","model.matrix")
  importFrom("stats", "as.formula", "var", "vcov")
  importFrom("lme4", "glmer", "fixef")
  importFrom("lmerTest", "lmer", "contest")
  
