exportPattern("^[[:alpha:]]+")
  importFrom("graphics", "axis", "legend", "lines", "locator", "par",
             "plot", "points", "text")
  importFrom("stats", "pnorm", "qnorm", "rbinom", "rnorm", "rpois")
